---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Bio from "../../components/Bio.astro";

import { getStaticPaths, ContentPiece, Content } from "virtual:vrite";

import { ReadingTime } from "../../utils/readingTime";
export { getStaticPaths };
type Props = ContentPiece;

const contentPiece = Astro.props;
const date = new Date(contentPiece.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const { content, readingTime } = await ReadingTime.getReadingTime(
  contentPiece.id
);
const permalink = `${Astro.site}blog/${contentPiece.slug}`;
---

<BaseLayout
  title={contentPiece.title}
  description={contentPiece.description || ""}
  permalink={permalink}
  current="blog"
>
  <header>
    <p>{date} ~ {readingTime}</p>
    <h1>{contentPiece.title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <img src={contentPiece.coverUrl} alt="">
      <Content content={content} />
    </article>
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
