---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const posts = (await Astro.glob("../../content/**/*.md")).sort(
	(a, b) =>
		new Date(b.frontmatter.date).valueOf() -
		new Date(a.frontmatter.date).valueOf()
);

const title = SITE_TITLE + " - Blog";
const permalink = `${Astro.site}blog`;
---

<BaseLayout
	title={title}
	description={SITE_DESCRIPTION}
	permalink={permalink}
	current="blog"
>
	<div class="container">
		<h1>Blog</h1>
		{
			posts.map((post: any, index: number) => {
				const postdescription = post.frontmatter.description
					? post.frontmatter.description.replace(/<\/?p>/g, "")
					: "";
				const href = `/blog/${post.frontmatter.slug}`;
				const title = (post.frontmatter.title as string).replaceAll("\\", "");
				const date = new Date(post.frontmatter.date).toLocaleDateString(
					"en-US",
					{
						year: "numeric",
						month: "long",
						day: "numeric",
					}
				);

				return (
					<div>
						{index !== 0 && <hr />}
						<div class="post-item">
							<h2>
								<a href={href}>{title}</a>
							</h2>
							<p>{postdescription}</p>
							<div class="post-item-footer">
								<span class="post-item-date">{date}</span>
							</div>
						</div>
					</div>
				);
			})
		}
	</div>
</BaseLayout>

<style>
	h2,
	.post-item-footer {
		font-family: var(--font-family-sans);
		font-weight: 700;
	}

	.post-item-date {
		color: var(--text-secondary);
		text-align: left;
		text-transform: uppercase;
		margin-right: 16px;
	}

	hr {
		margin: 60px auto;
	}
</style>
