---
import BaseLayout from "../layouts/BaseLayout.astro";
import { client } from "virtual:vrite";

const profile = await client.profile.get();

const title = "About";
const description = "About me.";
const permalink = `${Astro.site}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img
        src="/assets/profile-pic.webp"
        alt="Headshot of Kieran Klukas"
        width="430"
      />
    </figure>
    <p>
      {profile.bio}
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 400px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
